<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Eclipse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Eclipse contributors</string>
	<key>TMDB_API_KEY</key>
	<string>$(TMDB_API_KEY)</string>
	<key>AniListClientID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>AniListClientSecret</key>
	<string>$(ANILIST_CLIENT_SECRET)</string>
	<key>AniListRedirectUri</key>
	<string>$(ANILIST_REDIRECT_URI)</string>
	<key>MALClientID</key>
	<string>$(MAL_CLIENT_ID)</string>
	<key>MALClientSecret</key>
	<string>$(MAL_CLIENT_SECRET)</string>
	<key>MALRedirectUri</key>
	<string>$(MAL_REDIRECT_URI)</string>
	<key>TraktClientID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TraktClientSecret</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TraktRedirectUri</key>
	<string>$(TRAKT_REDIRECT_URI)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.Eclipse.Soupy.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>luna</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
