<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>EclipseDistributionChannel</key>
	<string>$(ECLIPSE_DISTRIBUTION_CHANNEL)</string>
	<key>EclipseReleaseVersion</key>
	<string>$(ECLIPSE_RELEASE_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.Eclipse.Soupy.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>luna</string>
				<string>com.googleusercontent.apps.871649357486-168i49j7ouc70r4t879112h65kmdilit</string>
				<string>msauth.app.Eclipse.Soupy</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tracy</string>
		<string>open-vidhub</string>
		<string>outplayer</string>
		<string>infuse</string>
		<string>vlc</string>
		<string>nplayer-https</string>
		<string>senplayer</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Eclipse can save images you choose, including reader images and media stills, to your photo library.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_CC1AD845._googlecast._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Eclipse uses your local network to find and connect to Cast-enabled TVs and streaming devices.</string>
	<key>TMDBAPIKey</key>
	<string>$(TMDB_API_KEY)</string>
	<key>AniListClientID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>AniListClientSecret</key>
	<string>$(ANILIST_CLIENT_SECRET)</string>
	<key>AniListRedirectUri</key>
	<string>$(ANILIST_REDIRECT_URI)</string>
	<key>TraktClientID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TraktClientSecret</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TraktRedirectUri</key>
	<string>$(TRAKT_REDIRECT_URI)</string>
	<key>MALClientID</key>
	<string>$(MAL_CLIENT_ID)</string>
	<key>MALClientSecret</key>
	<string>$(MAL_CLIENT_SECRET)</string>
	<key>MALRedirectUri</key>
	<string>$(MAL_REDIRECT_URI)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
